# ==================================================
# 🔐 Django
# ==================================================

SECRET_KEY = "change-me-in-production"
DEBUG = True
FERNET_SECRET_KEY = "r1MYWA_mNsiKAopu8E0cF7bZK4YoUjvAfi_ezw789_c="

# ==================================================
# 🗄️ Database (PostgreSQL)
# ==================================================

DB_USER = "postgres"
DB_PASS = "postgres"
DB_HOST = "postgres_db"
DB_PORT = "5432"
DB_NAME = "postgres_db"